html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto', sans-serif; 
  -webkit-font-smoothing: antialiased;
}
/* Nav
   ========================================================================== */
.top-navigation {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 9999;
  border-bottom: 1px solid #DDD;
}
.content {
  width: 970px;
  height: 70px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.logo {
  height: 70px;
}
.links{
  float: right;
  margin-top: 1.5em;
}
.links li {
  display: inline-block;
  font-size: 16px; 
  color: #838994; 
  letter-spacing: 0.03em;
  margin-left: 1.8em;
}
nav ul li a {
  text-decoration: none;
  color: #838994;
  cursor: pointer;
}
nav ul li a:hover{
  color: #4c5058;
  font-weight: 500;
}
.top-navigation .links > .active a {
  color: #4c5058;
  font-weight: 500;
}
nav ul li a:active{
  color: #4B4B4B;
}
/* Background Image Section
   ========================================================================== */
.meet {
  background: url(../images/first-background.jpg);
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  height: 45.938rem;
  overflow: auto;
}
.intro {
  text-align: center;
  color: #fff;  
  font-size: 3em;
  font-weight: 100;
  margin-top: 5.5em;
  margin-bottom: 0;
}
.tagline {
  text-align: center;
  color: #fff; 
  font-size: 1.5em;
  font-weight: 100;
}
.button-container {
  text-align: center;
  margin-top: 2.5em;
  display: block;
}
a.button {
  text-align: center;
  background-color: #f15a29;
  color: #fff;
  font-size: .7em;
  padding: 16px 26px;
  line-height: 1.33;
  border-radius: 4px;
  text-decoration: none;
  font-size: 20px; 
  font-weight: 400;
  border-style: none;
  text-shadow: none;
}
a.button:hover {
  background-color: #EA4620;
}
/* Three-Icon Set Section
   ========================================================================== */
.how {
  width: 100%;
  height: 26rem;
  text-align: center;
}
.how .content {
  width: 910px;
}
.how h2.intro {
  margin: 2.5em 0 1.5em;
  color: #000;
  font-size: 2.5em; 
}
.icons {
  display: block;
  margin: 0 auto;
  list-style: none;
}
ul.icons { 
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.devices-container {
  display: flex;
  margin: auto;
  width: 835px;
}
.devices, ul.icons li {
    width: 32.3333333%;
    /* styles to assist with debugging */
    justify-content: center;
}
p.captions {
  text-align: center;
  font-size: 1.5em;
  font-weight: 400; 
}
/* Footer
   ========================================================================== */
footer{
  text-align: center;
  padding-bottom: 1.67em;
}
footer .content {
  border-top: 1px solid #eaebec;
}
footer .content h5 {
  font-size:1.1em;
}
footer .content h6 {
  font-size:.9em;
  font-weight: 100;
  color: #B0B0B1;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul li {
  display: inline-block;
  border: 1px solid #eaebec;
  border-radius: 50% 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: .6em;
  margin-right:.8em;
}
li.twitter a {
  color: #55acee;
}
li.facebook a {
  color: #4c66a4;
}
li.ig a {
  color: #675144;
}
/* Responsive
   ========================================================================== */
/*Ipad Portrait*/
@media only screen and (max-width:768px){
  .intro {
    color: green;
  }
}

/*Iphone Landscape*/
@media only screen and (max-width:480px){
  .intro {
    color: orange;
  }
}

/*Iphone Portrait*/
@media only screen and (max-width:320px){
  .intro {
    color: blue;
  }
}